# CLion-specific files
/.idea/
.gitignore
.idea/
cmake-build-debug/
/cmake-build-debug/
cmake-build-release/
*.out
*.iml
client
server
adminCreator
.db/admin.db
.db/client.db
.db/server.db
.db/adminCreator.db
